html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Arial;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

body {
	background-image: url('../images/puzzle.jpg');
    width: 100%;
}

button {
    cursor: pointer;
}

#quizBody {
	display: block;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 75px;
    height: 100%;
    min-height: 350px;
    width: 50%;
	min-width: 500px;
	font-size: 16px;
	text-align: center;
	padding-top: 30px;
	padding: 40px;
	background: rgba(250,250,250,.8);
	border: 1px solid black;
    -webkit-box-shadow: 20px 19px 79px 4px rgba(56,56,56,1);
    -moz-box-shadow: 20px 19px 79px 4px rgba(56,56,56,1);
    box-shadow: 20px 19px 79px 4px rgba(56,56,56,1);
}

.intro {
	height: 275px;
}

h1 {
    font-size: 25px;
	text-align: center;
}

h2 {
	font-weight: bold;
}

#quizQuestion {
	font-weight: bold;
}


.quizAnswer li {
	font-size: 16px;
	text-align: left;
	font-weight: 100;
}

button {
	height: 50px;
	width: 150px;
	background: -webkit-linear-gradient(#FF4D4D, #A03131);
	background: -o-linear-gradient(#FF4D4D, #A03131);
	background: linear-gradient(#FF4D4D, #A03131); 
	font-size: 18px;
	font-weight: bold;
	margin: 0 auto;
}


#startBtn {
	height: 75px;
	width: 200px;
	border: 1px solid black;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	background: -webkit-linear-gradient(#FF4D4D, #A03131);
	background: -o-linear-gradient(#FF4D4D, #A03131);
	background: linear-gradient(#FF4D4D, #A03131); 
}

.answerTrack {
	position: relative;
	margin: 0 auto;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
    bottom: 0;
}

.qOptions li {
    margin: auto;
    display: none;
    cursor: pointer;
    padding: 5px;
}

.qOptions li span:hover {
    border-bottom: 3px solid red;
}

.end, .answer, .question {
    display: none;
}

.question, .intro {
    padding-top: 50px;
}

.answer, .end {
    padding-top: 25px;
}

.answerInfo {
    min-height: 100px;
}

small {
    font-size: smaller;
}

@media (max-width: 1000px) {
    #quizBody {
        margin-top: 15%;
        width: 75%;
        min-height: 400px;
        font-size: 20px;
    }
}