/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

body {
	background-color: #E60000;
}

.container {
	background-image: url('../images/puzzle.jpg');
	background-size: cover;
	background-repeat: none;
	background-position: fixed;
	height: 100%;
	width: 100%;
	padding-top: 1px;
	margin-top: -1px;
	margin: 0 auto;
}


#quizBody {
	position: relative;
	margin: auto;
	margin-top: 85px;
	margin-bottom: 85px;
	display: block;
	height: 425px;
	width: 100%;
	max-width: 800px;
	font-family: Tahoma;
	font-size: 20px;
	text-align: center;
	padding-top: 30px;
	padding: 40px;
	background-color: white;
	background: rgba(250,250,250,.8);
	filter: alpha(opacity=80);
	border: 1px solid black;
}

.question {
	display: none;
	height: 275px;
	width: 100%;
}

.intro {
	height: 275px;
	width: 100%;
}

.results {
	display: none;
	height: 375px;
	margin-top: -100px;
	overflow-y: scroll;
}


h1 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 30px;
	font-weight: bold;
}

h4 {
	font-size: 20px;
}

a {
	text-decoration: none;
	color: #FF4D4D;
}

a:hover {
	text-decoration: none;
	color: blue;
}

a:visted {
	text-decoration: none;
	color: #FF4D4D;
}

a:focus {
	text-decoration: none;
	color: #FF4D4D;
}

.btn:active {
	border: 1px solid black;
}

#quizQuestion {
	display: none;
	font-weight: bold;
	font-size: 22px;
}


.quizAnswer li {
	font-size: 18px;
	text-align: left;
	font-weight: 100;
}


#startBtn {
	height: 100px;
	width: 250px;
	border: 1px solid black;
	font-family: Tahoma;
	font-size: 26px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #FF4D4D;
	background: -webkit-linear-gradient(#FF4D4D, #A03131);
	background: -o-linear-gradient(#FF4D4D, #A03131);
	background: linear-gradient(#FF4D4D, #A03131); 
	cursor: pointer;
}

#startBtn:focus {
	outline:0 !important;
}

#startBtn:active {
	background: #A03131;
}

#nextBtn {
	display: none;
	height: 75px;
	width: 200px;
	background-color: #FF4D4D;
	background: -webkit-linear-gradient(#FF4D4D, #A03131);
	background: -o-linear-gradient(#FF4D4D, #A03131);
	background: linear-gradient(#FF4D4D, #A03131); 
	font-size: 18px;
	font-weight: bold;
	font-family: Tahoma;
	margin: 0 auto;
	cursor: pointer;
}

#nextBtn:focus {
	outline:0 !important;
}

#nextBtn:active {
	background: #A03131;
}

#answerTrack {
	display: none;
	position: relative;
	margin: 0 auto;
	font-family: Tahoma;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

#restartBtn {
	display: none;
	height: 75px;
	width: 200px;
	background-color: #FF4D4D;
	background: -webkit-linear-gradient(#FF4D4D, #A03131);
	background: -o-linear-gradient(#FF4D4D, #A03131);
	background: linear-gradient(#FF4D4D, #A03131); 
	font-size: 20px;
	font-weight: bold;
	font-family: Tahoma;
	margin: 0 auto;
	margin-top: 20px;
	cursor: pointer;
}

#restartBtn:focus {
	outline:0 !important;
}

#restartBtn:active {
	background: #A03131;
}

.bold {
	font-weight: bolder;
	color: red;
}
